.false {
    background-color: red;
    color: white;
    text-decoration: line-through;
}

.true {
    background-color: green;
    color: black;
    font-weight: bold;
}

#pieChart {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto
}